<footer class="site-footer">
  <div class="text-center">
    2014 - Alvarez.is
    <a href="panels.html#" class="go-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <%= render partial: "elements/devhelp" if Rails.env.development? %>
  </div>
</footer>
