/* line 5, /home/christoph/Documenten/kratos/app/assets/stylesheets/submissions.css.scss */
.ranknr {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 10px;
}

/* line 13, /home/christoph/Documenten/kratos/app/assets/stylesheets/submissions.css.scss */
div.ranktext {
  margin-right: 15px;
  vertical-align: middle;
}

/* line 18, /home/christoph/Documenten/kratos/app/assets/stylesheets/submissions.css.scss */
.ranking .img-circle {
  width: 40px;
  display: inline-block;
}
