/* Add here all your css styles (customizations) */

/* Disable resizing of brand image on fixed navbar */
.header-fixed .header-v3.header-fixed-shrink .navbar-brand img {
	width: 60px;
}

/* Set landings/index parallax megatron */
.bg-image-v1 {
  width: 100%;
  height: auto;
  padding: 250px 0;
  position: relative;
  background: image-url("homepage/logo-parallax.png") repeat fixed; 
}

.bg-image-v1:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  content: " ";
  position: absolute;
  background: rgba(0,0,0,0.5);
}

/* Set landings/index parallax counter */
.parallax-counter-v1 {
  padding: 60px 0;
  background: image-url("patterns/5.png") repeat fixed;
}

.parallax-counter-v1 .counters {
  color: #fff;
  padding: 15px 0 10px;
  border: solid 1px #555;
}

.parallax-counter-v1 h4 {
  color: #eee;
  font-size: 16px;
  text-transform: uppercase;
}

.parallax-counter-v1 span.counter {
  font-size: 42px;
  line-height: 48px;
}
/* Set landings/index parallax quote */
.parallax-quote {
  color: #fff;
  padding: 100px 0;
  position: relative;
  text-align: center;
  background: image-url("homepage/rower.jpg") 50% 0 repeat fixed;
}

.parallax-quote:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  content: " ";
  position: absolute;
  background: rgba(0,0,0,0.8);
}

.parallax-quote:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  content: " ";
  position: absolute;
  background: image-url("patterns/gridtile.png") repeat;
}

/* Mark current user on the submission index page */
.profile .profile-blog.current_user {
	border-left: 5px solid #72c02c;
}
