/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require landingpage/manifest.css
*= require bootstrap/dist/css/manifest.css
*= require_self
*/

#menu, .logo img {
  background: black;
  display: inline-block;
  padding: 10px;
}
.kra-header-text {
  color: white;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  font-weight: 700;
  background: black;
  display: inline-block;
  padding: 10px;
  letter-spacing: -2px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.kra-catchphrase {
  align: center;
  h3, p {
    background: black;
    padding: 10px;
  }
}

.copy p {
  text-align: left;
}
