// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.kratos-rank .ranknr {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}
