<!DOCTYPE html>
<html>
<head>
  <title>Kratos</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700|Open+Sans:700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'landingpage', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'landingpage', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <script>
    jQuery(function(){
        jQuery('#camera_wrap_1').camera({
        transPeriod: 500,
        time: 3000,
        height: '490px',
        thumbnails: false,
        pagination: true,
        playPause: false,
        loader: false,
        navigation: false,
        hover: false
      });
    });
  </script>

</head>
<body>


<%= yield %>

</body>
</html>
