<!DOCTYPE html>
<html>
<head>
  <title>Kratos</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700|Open+Sans:700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'landingpage', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'landingpage', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>


<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery('#menu').slicknav();
	
});
</script>

<script type="text/javascript">
  $(document).ready(function(){
     
      var $menu = $("#menuF");
          
      $(window).scroll(function(){
          if ( $(this).scrollTop() > 100 && $menu.hasClass("default") ){
              $menu.fadeOut('fast',function(){
                  $(this).removeClass("default")
                         .addClass("fixed transbg")
                         .fadeIn('fast');
              });
          } else if($(this).scrollTop() <= 100 && $menu.hasClass("fixed")) {
              $menu.fadeOut('fast',function(){
                  $(this).removeClass("fixed transbg")
                         .addClass("default")
                         .fadeIn('fast');
              });
          }
      });
});
  //jQuery
</script>
<script>
	/*menu*/
	function calculateScroll() {
		var contentTop      =   [];
		var contentBottom   =   [];
		var winTop      =   $(window).scrollTop();
		var rangeTop    =   200;
		var rangeBottom =   300;
		$('.navmenu').find('a').each(function(){
			contentTop.push( $( $(this).attr('href') ).offset().top );
			contentBottom.push( $( $(this).attr('href') ).offset().top + $( $(this).attr('href') ).height() );
		})
		$.each( contentTop, function(i){
			if ( winTop > contentTop[i] - rangeTop && winTop < contentBottom[i] - rangeBottom ){
				$('.navmenu li')
				.removeClass('active')
				.eq(i).addClass('active');				
			}
		})
	};
	
	$(document).ready(function(){
		calculateScroll();
		$(window).scroll(function(event) {
			calculateScroll();
		});
		$('.navmenu ul li a').click(function() {  
			$('html, body').animate({scrollTop: $(this.hash).offset().top - 80}, 800);
			return false;
		});
	});		
</script>

</body>
</html>
