<!DOCTYPE html>
<html>
<head>
  <title>Kratos</title>
  <%= stylesheet_link_tag    'onepager', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'onepager', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/></head>
<body>
<p>This is the onepager layout</p>

<%= yield %>

</body>
</html>
